<!-- Navbar goes here -->
<div class="navbar-fixed nav-color">
	<nav>
		<div class="nav-wrapper">
			<a href="#!" class="brand-logo">Logo</a>
		</div>
	</nav>
</div>

<div class="parallax-container">
	<div class="parallax">
		<img src="../public//assets/img/black.png">
	</div>
</div>

<div class="section white">
	<div class="row container">
		<h2 class="header">Parallax</h2>
<h1>Fortnite Leaderboard</h1>
<ul>
	{{#each users}}
	<li>{{this.nickname}}</li>
	{{/each}}
</ul>

<h1>Cruddy Leaderboard</h1>
<p>
	{{stats.p2.trnRating.valueInt}}
</p>
		<p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground
			content while scrolling.</p>
		<div class="row">
			<div class="col s12 m6">
				<div class="card blue-grey darken-1">
					<div class="card-content white-text">
						<span class="card-title">Card Title</span>
						<p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little
							markup to use effectively.</p>
					</div>
					<div class="card-action">
						<a href="#">This is a link</a>
						<a href="#">This is a link</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="parallax-container">
	<div class="parallax">
		<img src="../public//assets/img/black.png">
	</div>
</div>

{{!--
<div class="container">
	<!-- Page Content goes here -->
	<!-- Page Layout here -->
	<div class="row">

		<div class="col s12 m4 l3">
			<!-- Note that "m4 l3" was added -->
			<!-- Grey navigation panel

              This content will be:
          3-columns-wide on large screens,
          4-columns-wide on medium screens,
          12-columns-wide on small screens  -->

		</div>

		<div class="col s12 m8 l9">
			<!-- Note that "m8 l9" was added -->
			{{!-- Teal page content --}} {{!-- This content will be: 9-columns-wide on large screens, 8-columns-wide on medium screens,
			12-columns-wide on small screens --}}

		</div>

	</div>
</div> --}}


<footer class="page-footer">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="white-text">Footer Content</h5>
				<p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
			</div>
			<div class="col l4 offset-l2 s12">
				<h5 class="white-text">Links</h5>
				<ul>
					<li>
						<a class="grey-text text-lighten-3" href="#!">Link 1</a>
					</li>
					<li>
						<a class="grey-text text-lighten-3" href="#!">Link 2</a>
					</li>
					<li>
						<a class="grey-text text-lighten-3" href="#!">Link 3</a>
					</li>
					<li>
						<a class="grey-text text-lighten-3" href="#!">Link 4</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			© 2018 Copyright
			<a class="grey-text text-lighten-4 right" href="#!">More Links</a>
		</div>
	</div>
</footer>