/* This is for color reference only, this class is not used */
.colorhelper {
color: #2a2a2a;
color: #ffff00;
color: #1ac2fe;
color: #c9cad8;
color: #ffffff;
color: #e6bb0d;
color: #fef684;
color: #0183b1;
color: #8e90ad;
color: #17c2fe;
color: #0682b1;
color: #5cfc7b;
color: #41b057;
color: #c272d9;
color: #9042a6;
}

/* An easy class to apply the Fortnite-esque font */
.fonthelper {
	font-family: 'Luckiest Guy', cursive;
}


body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background-color: #1ac2fe;
}

.dev-card {
	color: #c9cad8;
	background-color: #0183b1;
}

.spacing {
	letter-spacing: 2px;
}

.font28 {
	font-size: 28px;
}

.solos {
	background-color: #0682b1;
}

.duos {
	background-color: #41b057;
}

.squads {
	background-color: #9042a6;
}

h1, h2, h3, h4 { 
	font-family: 'Luckiest Guy', cursive;
}

main {
	flex: 1 0 auto;
}

.nav-color {
	background-color: #2a2a2a; 
}

.footer-color {
	background-color: #8e90ad; 
}

.footer-color-drk {
	background-color: #2a2a2a; 
}

.sidebar {
	background-color: #e6bb0d;
}


.lt_blue_BACK {
	background-color: #1ac2fe;
}

.overall {
	background-color: #8e90ad;
}

.drk_blue {
	color: #0183b1;
}

label {
	color: #2a2a2a;
	font-family: 'Luckiest Guy', cursive;
	letter-spacing: 2px;
	font-size: 20px;
}
.active {
	border-bottom: #ffff00;
}

#logo-container {
	margin-left: 20px;
	text-decoration: none;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #1ac2fe;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
	
.parallax-container .section {
  width: 100%;
}

.icon-block {
	padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.percentilebar {
	border-radius: 2px;
	width: 100%;
	height: .4rem;
	overflow: hidden;
	background: #363636;
	margin: .4rem 0;
}

.p2percentilebar_fill {
	background: #17c2fe;
	height: 100%;
	border-radius: 2px;
}
.p10percentilebar_fill {
	background: #5cfc7b;
	height: 100%;
	border-radius: 2px;
}

.p9percentilebar_fill {
	background: #c272d9;
	height: 100%;
	border-radius: 2px;
}

footer.page-footer {
	margin: 0;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}
